<div class="background">

    <div class="overlay">
        <div class="greeting">
            <h5>Phone num
            </h5>

            <app-nav>
            </app-nav>
            <h3 class="absolute">Welcome to HotelName</h3>
            <h4 class="in">in Kerala</h4>
            <br><br>
            <button class="button" id="bt1"><a [routerLink]="[ '/menu'] " >Our Menu</a></button>
            <button class="button" id="bt2"><a [routerLink]="[ '/menu'] " >Table Reservation</a></button>
        </div>
    </div>
</div>