<!-- <div class="background">

    <div class="overlay">
        <div class="greeting">


            <h5></h5>
            <h3 class="absolute">Welcome to </h3>
            <h1>HotelName</h1>
            <h4 class="in">in Kerala</h4>
            <br><br>
            <div class="btns">
                <a [routerLink]="[ '/menu'] " class="btn1">Our Menu</a>
                <a [routerLink]="[ ''] " class="btn2">Book a Table</a>
            </div>

        </div>
    </div>
</div> -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>SKAR Hotel</span></h1>
                <h3>Nothing brings People together like good food...
                </h3>

                <div class="btns">
                    <a href="/menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
                    <a href="/reservation" class="btn-book animated fadeInUp scrollto">Book a Table</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
            </div>

        </div>
    </div>
</section>
