<div class="background">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="https://technext.github.io/restaurantly/assets/img/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>WE'RE MORE OF A FAMILY STYLE RESTAURANT</h3>
                    <p class="fst-italic">
                        Delicious and the best known Indian dishes are prepared with carefully hand picked ingredients, always with the fresh and seasonal produce under the delicate care of our experienced chefs. Refreshing Signature dishes are added to the classics seasonally.
                        Our impeccable service by the knowledgeable staff complements the delightful dine in experience, which is enhanced by the ambience with gorgeous interiors
                    </p>
                </div>
            </div>

        </div>
    </section>
</div>
